body {
    background-color: rgb(240, 252, 252);
}

/* jumbotron */

.main {
    font-family: "eurostile",
    "system-ui",
    sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #141c3a;
}

.project-link {
    font-size: 32px;
    position: absolute;
    bottom: 16;
    left: 18;
}

.project-link2 {
    font-size: 32px;
    position: absolute;
    bottom: 20;
    left: 54;
}


.main-2 {
    font-family: "eurostile",
        "system-ui",
        sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #090c14;
}

.content-divider{
    background-color: #343A40;
    width: 100%;
}

.card-text {
    margin-bottom: 36px;
}

/* Skills */
.skill-icon {
    font-size: 40px;
    padding: 28px;
    color: coral;
}

/* Navbar */
.social-link {
    color: white;
    font-size: 42px;
}

.nav-link-container {
    width: 200px;
}

.overlay-card {
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5),
    0 0 0 1px #E6ECF8;
}

/* fontawesome */
.social-link {
    text-shadow: 0 0px 1px rgba(255, 255, 255, 0.3);
    transition: text-shadow .16s;
}

.social-link:hover {
    text-shadow: 0px 0px 1px rgb(192, 192, 192), 0px 0px 6px rgb(255, 255, 255);
}


/* general */
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}